[Unit]
Description=uWSGI instance to serve infodemol
After=network.target

[Service]
User=aboro
Group=www-data
WorkingDirectory=/home/aboro/projects/infodemol
Environment="PATH=/home/aboro/projects/infodemol/venv/bin"
ExecStart=/home/aboro/projects/infodemol/venv/bin/python run.py

[Install]
WantedBy=multi-user.target
