[Unit]
Description=uWSGI instance to serve redeem-voucher
After=network.target

[Service]
User=aboro
Group=www-data
WorkingDirectory=/home/aboro/projects/redeem-voucher
Environment="PATH=/home/aboro/projects/redeem-voucher/venv/bin"
ExecStart=/home/aboro/projects/redeem-voucher/venv/bin/python run.py

[Install]
WantedBy=multi-user.target
