[Unit]
Description=uWSGI instance to serve suminabox
After=network.target

[Service]
User=aboro
Group=www-data
WorkingDirectory=/home/aboro/projects/suminabox
Environment="PATH=/home/aboro/projects/suminabox/venv/bin"
ExecStart=/home/aboro/projects/suminabox/venv/bin/python run.py

[Install]
WantedBy=multi-user.target
