{% extends "base.html" %}

{%  block styles %}
    {{ super() }}
    <style>
        .form-group {
            margin-bottom: 0;
        }
    </style>
{%  endblock %}


{% block body %}
    {{ super() }}
    <div class="content-section">
        <div class="center">
            <div class="container-form">
                    <div id="formio-form"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        let data = {{ data | tojson }};
    </script>
    <script type="module"> {% include "render_formio.js" %}</script>
{% endblock %}
