/* Import Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

.right-click-wrapper{
  visibility: hidden;
  position: absolute;
  width: 300px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 12px 35px rgba(0,0,0,0.1);
}
.right-click-wrapper .menu{
  padding: 10px 12px;
}
.right-click-wrapper .content .item{
  list-style: none;
  display: flex;
  width: 100%;
  cursor: pointer;
  align-items: center;
  border-radius: 5px;
  margin-bottom: 2px;
  padding: 0 5px 0 10px;
}
.right-click-wrapper .content .item:hover{
  background: #f2f2f2;
}
.right-click-wrapper .content .item span{
  margin-left: 8px;
  font-size: 16px;
}
.right-click-wrapper .content .setting{
  display: flex;
  margin-top: -5px;
  padding: 5px 12px;
  border-top: 1px solid #ccc;
}
.right-click-wrapper .content .share{
  position: relative;
  justify-content: space-between;
}
.right-click-wrapper .share .share-menu{
  position: absolute;
  background: #fff;
  width: 200px;
  right: -200px;
  top: -35px;
  padding: 13px;
  opacity: 0;
  pointer-events: none;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.08);
  transition: 0.2s ease;
}
.right-click-wrapper .share:hover .share-menu{
  opacity: 1;
  pointer-events: auto;
}