{% extends "end_user/base.html" %}

{% block body %}
    <div class="content-section">
        <div class="center">
            <div class="container">
                {% if error=='could_not_enter' %}
                    Sorry, er is iets fout gelopen en u kan niet aanmelden.
                    Gelieve contact...
                {% endif %}
                {% if error=='could_not_register' %}

                    <div class="alert alert-danger" role="alert">
                        <h4 class="alert-heading">Foutmelding!</h4>
                        <h5>U kan zich niet registreren</h5>
                        <hr>
                        {% if message %}
                        <h5>Bijkomende informatie: </h5>
                        {{ message }}
                        <hr>
                        {% endif %}
                        <p>Gelieve een bericht te sturen naar <a href="mailto:manuel.borowski@campussintursula.be">manuel.borowski@campussintursula.be</a>
                        </p>
                    </div>

                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}