{% extends "base.html" %}
{% block body %}
<div class="content-section">
    <div class="center">
        <div class="container">
                <div id="register-form"></div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>

{% endblock %}

{% block scripts %}
    <script>
        var registration_periods = {{ registration_periods | tojson }}
        var registration_form = {{ registration_form | tojson }}
    </script>
    <script type="module"> {% include "end_user/register.js" %}</script>
{% endblock %}
