{% extends "end_user/base.html" %}

{% block body %}
    {{ super() }}
<div class="content-section">
    <div class="center">
        <div class="container">
                <div id="register-form"></div>
        </div>
    </div>
</div>
{%  endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        var registration_periods = {{ registration_periods | tojson }}
        var registration_form = {{ registration_form | tojson }}
        var default_values = {{ default_values | tojson }}
    </script>
    <script type="module"> {% include "end_user/register.js" %}</script>
{% endblock %}
