{% extends "base.html" %}
{% block body %}
<div class="content-section">
    <br>
    <br>
    <br>
    <br>
    <div class="center">
        <div class="container">
                <div id="stage-settings"></div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>

{% endblock %}

{% block scripts %}
    <script>
        var stage_settings_form = {{ stage_settings_form | tojson }}
        var default_stage_settings = {{ default_stage_settings | tojson }}
    </script>
    <script type="module"> {% include "settings/settings.js" %}</script>
{% endblock %}
