{% extends "base.html" %}
{% block body %}
<div class="content-section  background-image">
    <br>
    <br>
    <br>
    <br>
    <div class="center">
        <div class="container">
            <div class="col-sm-4 thick-green-border" >
                <div class="row">
                    <h1>Inloggen aub </h1>
                </div>
                <div class="row thick-green-border" >
                    <form method="post" action="{{url_for('auth.login')}}">
                        {{ form.csrf_token }}
                        <div>{{ form.username.label }} {{ form.username() }}</div>
                        <div>{{ form.password.label }} {{ form.password() }}</div>
                    <br>
                    <button class="btn btn-default" type="submit" >Aanmelden</button>
                    </form>
                </div>
                <br>
                <a href="{{ url_for('auth.login_ss') }}"><img src="/static/img/btn_aanmelden_op_smartschool_290x40.png" alt="aanmelden via smartschool"></a>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>

{% endblock %}